.likepics{
	border-radius: 10px;
	width: 75px;
	height: 75px;
	margin-right: 20px;
}

.elementlist{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
	margin: 20px 0;
}

.elementlist > p {
	font-size: 16px;
    margin: 20px;
}

.elementlist strong {
    font-size: 10px;
}

.boxajout{
border-radius: 50%;
	width: 30px;
	height: 30px;
}

.croix{
	margin-left: 40px;

	background-size: contain;
	background-image: url(../../../../images/playlist_add_circle_FILL0_wght400_GRAD0_opsz24.png);
}

.coeur{

	background-size: contain;
	background-image: url(../../../../images/heart_minus_FILL0_wght400_GRAD0_opsz24.png);

}

.croix:hover{

	background-size: contain;
	background-image: url(../../../../images/playlist_add_check_circle_FILL0_wght400_GRAD0_opsz24.png);
}

.coeur:hover{

	background-size: contain;
	background-image: url(../../../../images/relax_FILL0_wght400_GRAD0_opsz24.png);

}
