.logo {
    background-image: url('../../images/logov2Trans.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 101px;
    width: 224px;
}
.logo_header {
	box-shadow:  inset -5px -5px 15px rgba(112, 112, 228, 0.5), 10px 1px 10px rgba(112, 112, 228, 0.5);
}
/* Header */
.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--neon-purple);
    padding: 1rem;
	box-shadow: 0 0 10px var(--neon-purple-shadow);
}
.nav_profil {
    display: flex;
    align-items: center;
    width: 25%;
}
.nav_profil_ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}
.nav_profil_ul li {
    color: #8b98df;
}
.nav_profil_ul li:hover{
    color: var(--neon-blue);
}

@media only screen and (max-width: 500px) {
    .nav_profil ul {
        flex-wrap: wrap;
        width: 97px;
    }
    .username {
        margin-top: 20px;
    }
  }
