.controlTime {
    margin-left: 20px;
}
.timeBarProgress {
    display: flex;
    justify-content: space-between;
}
.slider {
    margin: 0;
}
.icons {
    color: black;
}

@media only screen and (max-width: 500px) {
    .controlTime {
        margin-left: 0;
    }
  }
