:root {
    --neon-blue: #00bfff9f;
    --neon-purple: #892be293;
	--backg-dark: #000000;
    --neon-blue-shadow: rgba(0, 102, 255, 0.5);
    --neon-purple-shadow: rgba(138, 43, 226, 0.5);
    --creamy: rgb(218, 197, 171);
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General page custom */
html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, black,  #1a1a1a, #292929, #1a1a1a, black);
}


